.TechnologyStack{

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    /* margin: 30px; */
    

}
.TechnologyStack .Title h1{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;

}
.icons{
    margin: 30px;
    display: inline-flex;

    
}
.icons img{
    margin-right: 30px;
}
@media(max-width: 640px) {
    .TechnologyStack .icons{
        /* margin : 30px; */
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .TechnologyStack .icons img{
        margin-top: 30px;
        margin-right: 0px;
        
        
    }
}